---
http_interactions:
- request:
    method: get
    uri: https://igdbcom-internet-game-database-v1.p.mashape.com/people/?fields=*&limit=5&offset=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/json
      X-Mashape-Key:
      - "<X-Mashape-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
      X-Ratelimit-Requests-Limit:
      - '7000'
      X-Ratelimit-Requests-Remaining:
      - '6986'
    body:
      encoding: UTF-8
      string: '[{"id":100921,"name":"Cisco Lopez-Fresquet","created_at":1447506025029,"updated_at":1447506025086,"slug":"cisco-lopez-fresquet","url":"https://www.igdb.com/people/cisco-lopez-fresquet","gender":0,"games":[223]},{"id":100920,"name":"Frank
        Le Quay","created_at":1447506024763,"updated_at":1447506024932,"slug":"frank-le-quay","url":"https://www.igdb.com/people/frank-le-quay","gender":0,"games":[223]},{"id":100919,"name":"Tania
        Bureau-Civil","created_at":1447506024615,"updated_at":1447506024672,"slug":"tania-bureau-civil","url":"https://www.igdb.com/people/tania-bureau-civil","gender":0,"games":[836]},{"id":100918,"name":"Eric
        Kornblum","created_at":1447506023937,"updated_at":1450625931254,"slug":"eric-kornblum","url":"https://www.igdb.com/people/eric-kornblum","gender":0,"games":[223,1643]},{"id":100917,"name":"Joe
        Keene","created_at":1447506023767,"updated_at":1447506023855,"slug":"joe-keene","url":"https://www.igdb.com/people/joe-keene","gender":0,"games":[223]}]'
  recorded_at: Thu, 23 Mar 2017 00:35:49 GMT
recorded_with: VCR 2.9.3
