---
http_interactions:
- request:
    method: get
    uri: https://igdbcom-internet-game-database-v1.p.mashape.com/people/2000/?fields=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/json
      X-Mashape-Key:
      - "<X-Mashape-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
      X-Ratelimit-Requests-Limit:
      - '7000'
      X-Ratelimit-Requests-Remaining:
      - '6990'
    body:
      encoding: UTF-8
      string: '[{"id":2000,"name":"Laura Battistuzzi","created_at":1384910104737,"updated_at":1475087875003,"slug":"laura-battistuzzi","url":"https://www.igdb.com/people/laura-battistuzzi","gender":0,"games":[293,1972,960,731,434,1020,3270,3174,3265]}]'
  recorded_at: Thu, 23 Mar 2017 00:35:48 GMT
recorded_with: VCR 2.9.3
