---
http_interactions:
- request:
    method: get
    uri: https://igdbcom-internet-game-database-v1.p.mashape.com/people/?fields=*&search=batman
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/json
      X-Mashape-Key:
      - "<X-Mashape-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
      X-Ratelimit-Requests-Limit:
      - '7000'
      X-Ratelimit-Requests-Remaining:
      - '6989'
    body:
      encoding: UTF-8
      string: '[{"id":66963,"name":"Kyle \"Batman9502\" Duffy","created_at":1429561797246,"updated_at":1429561797275,"slug":"kyle-batman9502-duffy","url":"https://www.igdb.com/people/kyle-batman9502-duffy","gender":0,"games":[7886]},{"id":102736,"name":"Christina
        Batman","created_at":1448840944619,"updated_at":1448840944680,"slug":"christina-batman","url":"https://www.igdb.com/people/christina-batman","gender":0,"voice_acted":[7208],"characters":[6431]},{"id":102737,"name":"Geoffrey
        Batman","created_at":1448840944752,"updated_at":1448840944815,"slug":"geoffrey-batman","url":"https://www.igdb.com/people/geoffrey-batman","gender":0,"voice_acted":[7208],"characters":[6431]},{"id":15512,"name":"Peter
        Bateman","created_at":1409444018399,"updated_at":1409444018399,"slug":"peter-bateman","url":"https://www.igdb.com/people/peter-bateman","gender":0,"games":[538,2003,3025]},{"id":5689,"name":"Greg
        Bauman","created_at":138[...]
