---
http_interactions:
- request:
    method: get
    uri: https://igdbcom-internet-game-database-v1.p.mashape.com/companies/2000/?fields=*
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - text/json
      X-Mashape-Key:
      - "<X-Mashape-Key>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/json
      X-Ratelimit-Requests-Limit:
      - '7000'
      X-Ratelimit-Requests-Remaining:
      - '6998'
    body:
      encoding: UTF-8
      string: '[{"id":2000,"name":"Cat Daddy Games","created_at":1390437200564,"updated_at":1488659390415,"slug":"cat-daddy-games","url":"https://www.igdb.com/companies/cat-daddy-games","logo":{"url":"//images.igdb.com/igdb/image/upload/t_thumb/a32yvi5xzurmxbijgxz6.png","cloudinary_id":"a32yvi5xzurmxbijgxz6","width":500,"height":500},"description":"Cat
        Daddy Games, L.L.C. is a video game developer based in Kirkland, Washington
        that has developed games for publishers Take-Two Interactive, Activision,
        Electronic Arts, Sierra Entertainment, and Microsoft. Harley Howe and Pat
        Wilkinson created Cat Daddy in 1996 and started developing several well-known
        Tycoon series of games and its production of casual titles. Cat Daddy is currently
        a wholly owned subsidiary of Take-Two Interactive Software, Inc. and is best
        known for its Carnival series of games for the Wii, Nintendo DS and Xbox 360.\n\nCat
        Daddy had a hit with the release of Carnival Games for both the Wii and Nintendo
        DS, with the former shipping over 7 million copies worldwide, making it one
        of the biggest titles for the Wii, and was certified Platinum. Carnival Games:
        Mini-Golf was released in 2008, to similar numbers. A true sequel, New Carnival
        Games was released on September 21, 2010. In 2011, Cat Daddy Games did their
        first Kinect game, Monkey See Monkey Do Carnival Games, the following year
        in 2012 produced their first Nintendo 3DS game: Carnival Games Wild West 3D
        and Let''s Cheer! for Kinect.\n\nThe studio is focused on mobile titles, recently
        releasing Comedy Central''s Indecision Game, House Pest starring Fiasco the
        Cat, Gridblock and Herd, Herd, Herd for iPhone, iPad &amp; Android.","start_date":851990400000,"start_date_category":2,"country":840,"website":"http://www.catdaddy.com/","parent":5982,"change_date_category":7,"twitter":"https://twitter.com/catdaddygames","published":[4718],"developed":[27619,4057,4056,4058,4800,6151,8542,9203,21626,21625]}]'
  recorded_at: Thu, 23 Mar 2017 00:35:44 GMT
recorded_with: VCR 2.9.3
